@charset "utf-8";
#exposeMask {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:221;
	background:#fff;
	filter:alpha(opacity=50);
	opacity:.5;
}
.overlay3 {
	display:none;
	width:300px;
	height:330px;
	margin-top:-250px;
	margin-left:-150px;
	background:#fff;
	position:fixed;
	left:50%;
	top:50%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.85);
	z-index:222;
	color:black;
}
.overlay3 .close {
	background-color: transparent;
	background-image: url(../images/controls.png);
	background-position: 147px 0;
	cursor: pointer;
	border: 0;
	height: 24px;
	position: absolute;
	right: -4px;
	top: -22px;
	width: 24px;
}
.overlay3 .close:hover {
	background-position: 147px 25px;
}
.overlay3 .tab_box {
	width:auto;
	height:auto;
	background:#e2ebc6;
	position:relative
}

.overlay3 .scbox3 {
	height:100%;
	width:100%;
	overflow:auto;
}
.overlay3 .sbd3 {
	width:100%;
}
.overlay3 .sbd3 td {
	padding: 6px 5px;
}
.overlay3 .sbd3 td img, .overlay3 .sbd3 td input {
	vertical-align:middle;
}
