@charset "utf-8";
/* Clear all predefined styles */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	color:#fff;
	outline:none;
	padding:0
}
body {
	font-size:12px;
	line-height:1.66;
	font-family:Arial, "\5B8B\4F53", Tahoma, sans-serif;
}
th, td {
	text-align:left;
	vertical-align:top
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:normal
}
p {
	margin:0 0 1em 0
}
blockquote {
	margin:0 0 1em 0
}
a {
	text-decoration:none;
	outline:none;
	color:#333;
}
a:hover {
	text-decoration:none;
	color:#000;
}
img {
	border:0
}
ul {
	margin:0;
	padding:0;
	list-style:none
}
ol {
	padding:0 0 0 2em
}
dl, dt, dd {
	margin:0;
	padding:0
}
input, label, select, option, textarea, button, fieldset, legend {
	font-size:1em;
	color:#333;
	font-family:Verdana, Geneva, sans-serif, "\5B8B\4F53", Tahoma, sans-serif
}
input.radio, input.checkbox {
	margin-right:2px;
	vertical-align:-2px
}
* input.radio, input.checkbox {
	margin-left:-2px
}
label.radio, label.checkbox {
	margin-right:5px
}
textarea {
	padding:1px;
	overflow:auto;
}
.fix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.fix {
	display:inline-block;
	min-height:1%
}
*html .fix {
	zoom:1
}
.fix {
	display:block
}
.dis {
	display: block;
}
.undis {
	display:none;
}
object {
	display:block;
}
/* Clear styles end */
html {
	min-width:1000px;
}
body {
	background:#fff;
	min-width:1000px;
	min-height:500px;
	overflow:auto;
}
#main {
	width:1000px;
	height:500px;
	position:absolute;
	left:50%;
	top:48%;
	margin-top:-250px;
	margin-left:-500px;
	background:url(../images/bg_login.png) no-repeat 50% 0;
}
#main .title {
	height:93px;
	width:533px;
	margin:auto;
	overflow:hidden;
	padding:102px 0 0;
	text-align:center;
}
.title h2 {
	float:right;
	padding:66px 15px 0 0;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
}
.logo {
	float:left;
	height:60px;
	width:140px;
	padding:20px 0 0 17px;
}
.logo img {
	display:block;
	vertical-align:top;
}
#main h6 {
	height:60px;
	line-height:60px;
	width:533px;
	margin:auto;
	text-align:center;
}
.login {
	height:70px;
	width:448px;
	margin:auto;
	padding:30px 0 0 85px;
}
.login table {
	float:left;
	width:275px;
	border-collapse: 0px;
	border-spacing: 0px;
	border: 0px;
}
.login table td {
	line-height:23px;
	padding:4px;
	text-align:center;
}
.login table td label {
	display:block;
	color:#fff;
}
.login .submit_button {
	float:left;
	width:90px;
	padding:5px 0 0 9px;
}
.login .text {
	border-color:#000 #000 #000 #000;
	border-style:solid;
	border-width:1px;
	padding:2px;
	font-size:12px;
	height:16px;
	width:195px;
	color:#000;
	line-height:16px;
	background:url(../images/bg_logintext.png) repeat-x;
}
.login .text:focus {
	border-color:#fff;
}
.login .text:active {
	border-color:#fff;
}
.login .btn {
	border:0;
	cursor:pointer;
	padding:0;
	height:52px;
	width:70px;
	background:url(../images/bg_loginbtn.png) no-repeat;
}
.login .btn:focus {
	color:#003300;
}
.login .btn:active {
	color:#003300;
}
