@charset "utf-8";
/* Clear all predefined styles */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	color:#fff;
	outline:none;
	padding:0
}
body {
	font-size:12px;
	line-height:1.66;
	font-family:"Microsoft YaHei", "微软雅黑",Arial, Tahoma, sans-serif;
}
th, td {
	text-align:left;
	vertical-align:top
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:normal
}
p {
	margin:0 0 1em 0
}
blockquote {
	margin:0 0 1em 0
}
a {
	text-decoration:none;
	outline:none;
	color:#333;
}
a:hover {
	text-decoration:none;
	color:#000;
}
img {
	vertical-align: top;
	border:0
}
ul {
	margin:0;
	padding:0;
	list-style:none
}
ol {
	padding:0 0 0 2em
}
dl, dt, dd {
	margin:0;
	padding:0
}
input, label, select, option, textarea, button, fieldset, legend {
	font-size:1em;
	color:#333;
	font-family:Verdana, Arial, sans-serif, Tahoma, sans-serif
}
input.radio, input.checkbox {
	margin-right:2px;
	vertical-align:-2px
}
* input.radio, input.checkbox {
	margin-left:-2px
}
label.radio, label.checkbox {
	margin-right:5px
}
textarea {
	padding:1px;
	overflow:auto;
}
.fix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.fix {
	display:inline-block;
	min-height:1%
}
*html .fix {
	zoom:1
}
.fix {
	display:block
}
.dis {
	display: block;
}
.undis {
	display:none;
}
object {
	display:block;
}
/* Clear styles end */
html {
	height: 100%;
}
body {
	height: 100%;
	background:#3fa3ed url('../images/bg_login.jpg') 50% 50%;
	min-width:600px;
	min-height:560px;
	overflow:auto;
}
#main {
	width:420px;
	height:620px;
	position:absolute;
	left:50%;
	top:46%;
	margin-top:-310px;
	margin-left:-210px;
}
#main .title {
	margin: 0 auto;
}
.logo {
	float:left;
	height:60px;
	width:140px;
	padding:20px 0 0 17px;
}
.logo img {
	display:block;
	vertical-align:top;
}
#main h6 {
	line-height:22px;
	color: #fff;
	margin:auto;
	text-align:center;
}
.login {
	margin:auto;
	height: 214px;
	padding:246px 50px 0;
	background:url('../images/bg_login.png') no-repeat 50% 0;
}
.login label {
	display:block;
	border: 1px solid #d7d7d7;
	border-radius: 6px;
	padding: 9px;
	margin-bottom: 17px;
}
.login label span {
	vertical-align: top;
	display: inline-block;
	width: 40px;
	height: 29px;
	margin-right: 18px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background: url('../images/ico_user.png') no-repeat 100% 0;
}
.login label span em {
	display: none;
}
.login label span.user {
	background-image: url('../images/ico_user.png');
}
.login label span.pas {
	background-image: url('../images/ico_pas.png');
}
.login .text {
	vertical-align: top;
	border-width:0;
	padding:2px;
	font-size:14px;
	height:25px;
	width:230px;
	color:#000;
	line-height:25px;
}
.login .submit_button { text-align: center;}
.login .btn {
	border:0;
	cursor:pointer;
	padding:0;
	height:36px;
	width:85px;
	background:url('../images/bg_loginbtn.png') no-repeat;
}
.login .btn:focus {
	color:#003300;
}
.login .btn:active {
	color:#003300;
}
