@charset "utf-8";
/* Clear all predefined styles */
html { height: 100%; background:#3fa1ec url('../images/bg_side.png') repeat-y; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin:0;
    color:#333;
    padding:0;
}
th, td {
    text-align:left;
    vertical-align:top
}
h1, h2, h3, h4, h5, h6 {
    font-size:1em;
    font-weight:normal
}
p {
    margin:0 0 1em 0
}
blockquote {
    margin:0 0 1em 0
}
a {
    text-decoration:none;
    outline:none;
    color:#666;
}
a:hover {
    text-decoration:none;
    color:#000;
}
img {
    border:0
}
ul {
    margin:0;
    padding:0;
    list-style:none
}
ol {
    padding:0 0 0 2em
}
dl, dt, dd {
    margin:0;
    padding:0
}
input, label, select, option, textarea, button, fieldset, legend {
    font-size:12px;
    color:#000;
    outline:none;
    vertical-align: middle;
    font-family:"\5B8B\4F53", Tahoma, sans-serif
}
.text {
    border-color:#2f7cb7;
    border-style:solid;
    border-width:1px;
    padding:1px;
    height:16px;
    line-height:16px;
    background:#fff;
    vertical-align:middle;
}
.text_new {
    border-color:#2f7cb7;
    border-style:solid;
    border-width:1px;
    padding:1px;
    height:16px;
    line-height:16px;
    background:#fff;
    vertical-align:middle;
}
.textarea {
    border-color:#2f7cb7;
    border-style:solid;
    border-width:1px;
    padding:1px;
    line-height:16px;
    background:#fff;
}
.text:focus, .textarea:focus, .select:focus {
    border-color:#126db3;
}
.text:active, .textarea:active, .select:active {
    border-color:#126db3;
}
input.file {
    vertical-align:middle;
}
input.radio, input.checkbox {
    margin-right:1px;
    /*vertical-align:-2px*/
}
input.radio, input.checkbox {
    /*margin-left:-1px*/
}
select.select {
    height:24px;
    padding:1px;
    display:inline-block;
    border-color:#2f7cb7;
    border-style:solid;
    border-width:1px;
    vertical-align:middle;
}
input.btn {
    height:22px;
    min-width:46px;
    padding:0;
    border:0;
    color:#000;
    display:inline-block;
    vertical-align:middle;
    background:#fff;
}
input.longbtn {
    height:22px;
    padding:0;
    border:0;
    color:#000;
    display:inline-block;
    vertical-align:middle;
    background:#fff;
}
textarea {
    padding:1px;
    overflow:auto;
}
 @-moz-document url-prefix() {
 textarea {
padding:0;
}
}
.fix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.fix {
    display:inline-block;
    min-height:1%
}
*html .fix {
    zoom:1
}
.fix {
    display:block
}
.dis {
    display:block;
}
.undis {
    display:none;
}
.fleft {
    float:left;
}
object {
    display:block;
}
/* Clear styles end */

body {
    min-width:1000px;
    /*height: 100%;*/
    font-size:12px;
    line-height:1.66;
    font-family:"\5B8B\4F53", Tahoma, sans-serif;
}
.w1000 {
    width:1000px;
    margin:0 auto;
}
/* header styles */

#logo {
    float:left;
    width:450px;
    height:65px;
    padding-top:29px;
    background:url('../images/logo.gif') no-repeat 0 29px;
}
#header img {
    display:block
}
/* main styles */

#main {
    padding:20px;
    margin-left:300px;
}
#copyright {
    padding:20px 0;
    width:300px;
    /*position:fixed;
    bottom:0;
    left:0;*/
    text-align: center;
    background-color: #fff;
    border-top: solid 1px #b6b6b6;
}
#copyright h6 {
    color:#3f3f3f;
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, verdana, tahoma, sans-serif;
}
#btn_open {
    position: fixed;
    left: 276px;
    top: 48%;
    height: 47px;
    width: 47px;
    cursor: pointer;
}
#side {
    float:left;
    width:300px;
    position:absolute;
    top:0;
    left:0;
    background-color: #fff;
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, verdana, tahoma, sans-serif;
}
html.open {
    background:#3fa1ec;
}
.open #side {
    left:-300px;
}
.open #main {
    margin-left:0;
}
.open #btn_open {
    left: -24px;
}
.logo {
    text-align:right;
    padding:30px 15px 0 0;
}
div.Wdate {
    text-align:right;
    color:#999;
    padding:10px 15px 0 0;
}
div.SYS_Wdate {
    text-align:right;
    color:#999;
    padding:10px 15px 0 0;
}
#side_nav {
    width:240px;
    padding:20px 20px 20px 40px;
}
#side_nav h2 {
    margin:0;
    line-height:60px;
    color:#3fa1ec;
    clear:both;
    padding-left:50px;
    cursor: pointer;
    border-bottom: solid 1px #ededed;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background:url('../images/nva_01.png') no-repeat 0 50%;
}
#side_nav h2.hn1 {
    background-image:url('../images/nva_01.png');
}
#side_nav h2.hn2 {
    background-image:url('../images/nva_02.png');
}
#side_nav h2.hn3 {
    background-image:url('../images/nva_03.png');
}
#side_nav h2.hn4 {
    background-image:url('../images/nva_04.png');
}
#side_nav h2.hn5 {
    background-image:url('../images/nva_05.png');
}
#side_nav h2.hn6 {
    background-image:url('../images/nva_06.png');
}
#side_nav h2.hn7 {
    background-image:url('../images/nva_07.png');
}
#side_nav h2.current {
    border-bottom: 0;
    cursor:default;
}
#side_nav ul {
    display:none;
    width:240px;
    padding:0 0 10px;
    border-bottom: solid 1px #ededed;
}
#side_nav ul li {
    height:30px;
    padding-left:28px;
    overflow:hidden;
    line-height:30px;
    background:url('../images/ico_list.png') no-repeat 4px 50%;
}
#side_nav ul li.on {
}
#side_nav ul li a {
    line-height: 18px;
    display: inline-block;
    color:#999;
    padding: 0 15px 0 5px;
    background:url('../images/ico_lista.png') no-repeat 100% 50%;
}
#side_nav ul li a:hover {
    color:#3fa1ec;
    border-bottom: solid 1px #3fa1ec;
    background:url('../images/ico_listb.png') no-repeat 100% 50%;
}
#side_nav ul li.on a {
    color:#3fa1ec;
}
.nav_top {
    line-height:22px;
    padding:30px 0 0;
    overflow: hidden;
}
#side .my {
    padding:30px 0 10px 0;
    text-align: center;
}
#side .my b {
    color: #01e1fb;
    font-weight: normal;
}
#side .my span {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    width: 140px;
    padding: 10px 0 0 12px;
    color: #2a6efd;
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, verdana, tahoma, sans-serif;
}
#side .my .pic {
    height: 70px;
    width: 70px;
    border: solid 2px #3fa1ec;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}
#side .diary {
    padding:8px 0 0;
    border-bottom:solid 2px #b6b6b6;
    box-shadow: 0 7px 10px rgba(0,0,0,.1);
}
#side .diary a {
    vertical-align: top;
    padding: 0 10px 5px 5px;
    margin-bottom: -2px;
    display: inline-block;
    line-height: 22px;
    border-bottom:solid 2px #028eff;
}
#side .diary a.close {
    float: right;
    border-color: #b6b6b6;
}
#side .diary sup {
    border-radius: 50%;
    background-color: #f92040;
    color: #fff;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    width: 15px;
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
#side .diary img {
    vertical-align:top;
    padding:0 4px;
}
.crumbs {
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, verdana, tahoma, sans-serif;
    line-height:40px;
    color: #fff;
    font-size: 24px;
    padding:0 0 0 40px;
    background:url('../images/ico_tit.png') no-repeat 0 0;
}
.tab {
    padding:10px 40px 0;
}
.tab ul {
    height:30px;
    line-height:30px;
}
.tab ul li {
    height:30px;
    float:left;
}
.tab ul li a {
    display:inline-block;
    height:30px;
    text-align:left;
    padding: 0 16px 0 36px;
    cursor:pointer;
    font-size: 16px;
    color: #126db2;
    border-bottom:solid 2px #136fb5;
    background:url('../images/ico_taba.png') no-repeat 0 50%;
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, verdana, tahoma, sans-serif;
}
.tab ul li.on a {
    color: #fff700;
    background-image: url('../images/ico_tabc.png');
    border-bottom-color: #f8f306;
}
.tab ul li a span {
    color:#e24d0a;
}
.box {
    min-height:40px;
    margin:auto;
    background:#fff;
    padding:10px 0;
    position:relative;
}
.box h3 {
    position:absolute;
    top:-7px;
    left:0;
    margin:0;
    display:inline-block;
    height:31px;
    background:url('../images/bg_title.png') no-repeat;
}
.box h3 strong {
    display:inline-block;
    height:31px;
    line-height:31px;
    text-align:center;
    font-weight:normal;
    color:#fff;
    padding-left:16px;
    padding-right:16px;
    background:url('../images/bg_titler.png') no-repeat 100% 0;
}
.publicform {
    padding:10px 40px 0;
}
.publicform th {
    padding:6px 5px;
    font-weight:normal;
    white-space:nowrap;
    width:12%;
    background-color: #126db3;
    color: #fff;
}
.publicform td {
    color: #fff;
    padding:6px 5px;
    background-color: #66bdff;
}
.publicform label {
    display:inline-block;
    height:20px;
    color:#fff;
    line-height:20px;
    padding-left:4px;
    padding-right:15px;
    white-space:nowrap;
}
.publicform span input {
    vertical-align:top;
}
.publicform ul {
/*
    background:#f0fafc;

    border:solid 1px #c2dce1;
*/
}
.publicform ul li {
    float:left;
    white-space:nowrap;
}
.publicform i {
    display:inline-block;
    height:22px;
    line-height:22px;
    width:18px;
    font-style:normal;
    color:red;
    text-align:center;
}
.publicform .btn_div {
    text-align:left;
}
.btn_div {
    height:50px;
    padding-top:15px;
    text-align:center;
}
.btn_div .btn_sub {
    height:31px;
    width:94px;
    padding:0;
    border:0;
    color:#fff;
    background:#126db3;
}
.btn_div .btn_qr {
    height:31px;
    width:94px;
    padding:0;
    border:0;
    color:#fff;
    text-indent:24px;
    background:url('../images/btn_pass.png') no-repeat;
}
.btn_div .btn_fj {
    height:31px;
    width:94px;
    padding:0;
    border:0;
    color:#fff;
    text-indent:24px;
    background:url('../images/btn_no.png') no-repeat;
}
.btn_div .btn_bh {
    height:31px;
    width:94px;
    padding:0;
    border:0;
    color:#fff;
    text-indent:24px;
    background:url('../images/btn_back.png') no-repeat;
}
.myform .btn_div {
    height:25px;
    padding-top:10px;
    text-align:left;
    margin:auto;
}
.myform .btn_div .btn_sub {
    height:25px;
    width:52px;
    padding:0;
    border:0;
    color:#fff;
    background:url('../images/bg_btn.png') no-repeat;
}
.myform .ptable {
    width:100%;
    line-height:22px;
    margin:auto;
    background:#c2dce1;
}
.myform .ptable th {
    background:#f2f5f6;
    font-weight:normal;
    padding:4px 0;
}
.myform .ptable th label {
    width:40px;
    padding-left:20px;
}
.myform .ptable td {
    background:#f0fafc;
}
.listform {
    padding:10px 40px;
}
.listform .etable ul li {
    float:left;
    width:25%;
}
.etable a {
    text-decoration:underline;
}
.box .listform {
    padding:10px 40px;
}
.box .listform tbody {
    margin-bottom:10px;
}
.listform .etable {
    width:100%;
    margin:auto;
    border-collapse:separate;
    empty-cells:show;
}
.listform .etable th {
    background:#126db3;
    padding:12px 2px;
    text-align:center;
    white-space:nowrap;
    font-size: 14px;
    font-weight: normal;
    text-indent: 20px;
    color: #fff;
    border: 1px solid #3fa1ec;
    background-position: 0 50%;
    font-family: "Microsoft YaHei", "微软雅黑", helvetica, verdana, tahoma, sans-serif;
    /*border-radius: 8px;*/
}
.listform .etable td {
    color: #fff;
    padding:10px 2px;
    text-align:center;
    background:#66bdff;
    vertical-align: middle;
    line-height: 16px;
    border: 1px solid #3fa1ec;
    /*border-radius: 8px;*/
}
.listform .etable td a {
    color: #fff;
}
.bw td {
    background:#2078bb !important;
}
.gradeA td {
    color:#ff6600;
}
.gradeB td {
    color:#cc6600;
}
.gradeC td {
    color:#993300;
}
.gradeD td {
    color:#64a443;
}
.gradeB td {
    background:url('../images/bg_lh.png') repeat-x;
}
.gradeB th {
    background:url('../images/bg_lh.png') repeat-x;
    color:#64a443;
}
.tdl * {
    text-align:left !important;
}
th.cl {
    background:#79c200 !important;
    color:#fff;
    font-weight:normal;
    padding-left:15px !important;
}
td.cl {
    color:#669900;
    padding-left:15px !important;
}
th.cr {
    background:#bec057 !important;
    color:#fff;
    font-weight:normal;
    padding-left:15px !important;
}
td.cr {
    color:#999933;
    padding-left:15px !important;
}
.pd td {
    padding:0 6px 0 0;
}
.page_nav {
    clear:both;
    padding:10px;
    height:15px;
    line-height:15px;
}
.page_nav u {
    display:inline-block;
    float:left;
    text-decoration:none;
}
.page_nav ul {
    display:inline-block;
    height:15px;
    width:auto;
    float:right;
}
.page_nav li {
    height:15px;
    float:left;
    display:inline-block;
}
.page_nav li a {
    padding:0 4px;
    height:15px;
    display:inline-block;
}
.page_nav li span {
    padding:0 2px;
    color:#ccc;
    display:inline-block;
}
.page_nav li.page_nav_current span {
    padding:0 4px;
    background:#669933;
    color:#fff;
}
.page_nav_prev, .page_nav_next, .page_nav_first, .page_nav_last {
    display:inline-block;
    float:right;
}
.page_nav_prev *, .page_nav_next *, .page_nav_first *, .page_nav_last * {
    height:100%;
    display:inline-block;
    padding:0 4px;
}
.page_nav_first span, .page_nav_last span, .page_nav_prev span, .page_nav_next span {
    color:#ccc;
}
.uploadifyQueueItem {
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    font: 12px Verdana, Geneva, sans-serif;
    height: 30px;
    margin-top: 0;
    padding: 10px;
}
.uploadifyError {
    background-color: #FDE5DD !important;
    border: none !important;
    border-bottom: 1px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    color: #C5C5C5;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 6px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}
#custom-queue {
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
    height: 153px;
    overflow:auto;
    width: 370px;
}

pre {
  white-space:pre-wrap; /* css-3 */
  white-space:-moz-pre-wrap; /* Mozilla, since 1999 */
  white-space:-pre-wrap; /* Opera 4-6 */
  white-space:-o-pre-wrap; /* Opera 7 */
  word-wrap:break-word; /* Internet Explorer 5.5+ */
  -moz-binding: url('./wordwrap.xml#wordwrap'); /* 再多这行 */
}

bb{
    font-weight: bold;
}


.sbd1 {
border: #3fa1ec solid;
border-width:1px 0 0 1px;
}
.sbd1 td {
border: #3fa1ec solid;
border-width:0 1px 1px 0;
}
.sbd1 td div {
    /*background-color: #66bdff !important;*/
    /*color: #fff;*/
}

.sbd2 {
border: #E9E4E9 solid;
border-width:1px 0 0 1px;
}
.sbd2 td {
border: #E9E4E9 solid;
border-width:0 1px 1px 0;
}

.sbd3 {
border: #E9E4E9 solid;
border-width:1px 0 0 1px;
}
.sbd3 td {
border: #E9E4E9 solid;
border-width:0 1px 1px 0;
}

.bw1 td {
    background:#E9E7BA !important;
}
.tabin {
    border-collapse:collapse;
    empty-cells:show;
}
.tabin td {
    padding:7px 2px;
    color: #fff;
    background:#126db3;
    border: solid 1px #3fa1ec;
}
#chartdiv1,.amcharts-main-div {padding: 0 40px;}